In [47]:
import numpy as np
import pandas as pd
import math

steps = [2**n for n in range(10,21)]
e = math.exp(1)

In [48]:
def euler(N):
    delta = 1.0 / N
    x = 1.0
    for i in range(N):
        x += delta * x
    error = abs(x - e)
    return x

def mid(N):
    delta = 1.0 / N
    x = 1.0 
    for i in range(N):
        k = x + delta / 2.0 * x
        x += delta * k
    error = abs(x - e)
    return x

def runge_kutta(N):
    delta = 1.0 / N
    x = 1.0
    for i in range(N):
        k1 = x
        k2 = x + delta / 2.0 * k1
        k3 = x + delta / 2.0 * k2
        k4 = x + delta * k3
        x += delta / 6.0 * (k1 + 2 * k2 + 2 * k3 + k4)
    return x

In [49]:
def get_df(method):
    t = []
    for i in steps:
        t.append([i,method(i),method(i)-e])
    return pd.DataFrame(t,columns=['Steps','x(1)','Error'])

In [50]:
euler_df = get_df(euler)
euler_df

      Steps                x(1)               Error
0      1024  2.7169557294664357 -0.0013260989926094
1      2048  2.7176184823368796 -0.0006633461221655
2      4096  2.7179500811896666 -0.0003317472693785
3      8192  2.7181159362657876 -0.0001658921932575
4     16384  2.7181988777219490 -0.0000829507370961
5     32768  2.7182403519302696 -0.0000414765287755
6     65536  2.7182610899046455 -0.0000207385543995
7    131072  2.7182714591092370 -0.0000103693498081
8    262144  2.7182766437660111 -0.0000051846930340
9    524288  2.7182792361078856 -0.0000025923511595
10  1048576  2.7182805322824128 -0.0000012961766322

In [51]:
mid_df = get_df(mid)
mid_df

      Steps                x(1)               Error
0      1024  2.7182813967161392 -0.0000004317429059
1      2048  2.7182817204837777 -0.0000001079752674
2      4096  2.7182818014602854 -0.0000000269987597
3      8192  2.7182818217087306 -0.0000000067503145
4     16384  2.7182818267714186 -0.0000000016876265
5     32768  2.7182818280371128 -0.0000000004219323
6     65536  2.7182818283535792 -0.0000000001054659
7    131072  2.7182818284326142 -0.0000000000264309
8    262144  2.7182818284524850 -0.0000000000065601
9    524288  2.7182818284572940 -0.0000000000017510
10  1048576  2.7182818284584789 -0.0000000000005662

In [52]:
r_df = get_df(runge_kutta)
r_df

      Steps                x(1)               Error
0      1024  2.7182818284590256 -0.0000000000000195
1      2048  2.7182818284590486  0.0000000000000036
2      4096  2.7182818284590535  0.0000000000000084
3      8192  2.7182818284590238 -0.0000000000000213
4     16384  2.7182818284590473  0.0000000000000022
5     32768  2.7182818284590300 -0.0000000000000151
6     65536  2.7182818284589905 -0.0000000000000546
7    131072  2.7182818284589891 -0.0000000000000560
8    262144  2.7182818284590740  0.0000000000000289
9    524288  2.7182818284589119 -0.0000000000001332
10  1048576  2.7182818284589283 -0.0000000000001168